<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar-lewagon fixed-top">
      <div class="logo">
        <%= link_to image_tag('logo.png', style: "width: 100%"), root_path %>
      </div>
      <div class="search">
        <form action="<%= root_path %>">
          <input type="text" name="query" class="search-bar"><button type="submit" class="search-submit" value="search"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-primary" %>
    </div>
    <%= yield %>
    <div class="padding-blank"></div>
  </body>
</html>
